In [1]:
#strings
str="bharath is a cricket player"
str1="dilip is a sports man"
print(str)
print(str1)

bharath is a cricket player
dilip is a sports man

In [3]:
print(str[-1])
print(str1[6])

r
i

In [4]:
print(str[::-1])

reyalp tekcirc a si htarahb

In [5]:
print(str[1:8])
print(str1[3:-3])

harath
ip is a sports

In [10]:
a=53
print(type(a)) 
name="bharath"
print(type(name))
print(str1)
str2="python learn at weekend"
print(str2)
str3=str1[3:7]+str2[5:9]
print(str3)

<class 'int'>
<class 'str'>
dilip is a sports man
python learn at weekend
ip in le

In [14]:
del str3

NameError: name 'str3' is not defined

In [15]:
print("\n this is string class""\t",str2)

 this is string class	 python learn at weekend

In [16]:
str4="{3} {1} {0} {2}".format("dilip","bharath","pavithra","suresh")
print(str4)

suresh bharath dilip pavithra

In [18]:
print(str.upper())
print(str.isspace())

BHARATH IS A CRICKET PLAYER
False

In [23]:
print(str.find("b",0,22))
print(str.rfind("c",0,22))
print(len(str))
print(str.count("bharath",0,25))

0
16
27
1

In [24]:
str6="***"
print(str6.join(str))

b***h***a***r***a***t***h*** ***i***s*** ***a*** ***c***r***i***c***k***e***t*** ***p***l***a***y***e***r

In [28]:
str7="****bharath*****"
print(str7.strip("*"))
print(str7.rstrip("*"))

bharath
****bharath

In [31]:
def fun(s1,s2):
    if(sorted(s1)==sorted(s2)):
        print("anagram")
    else:
        print("it is not anagram")
        
s1="tab"
s2="bat"
fun(s1,s2)

anagram

In [3]:
#list
mylist=[1,3,4,5,6,6]
print(mylist)
print(type(mylist))

[1, 3, 4, 5, 6, 6]
<class 'list'>

In [4]:
mylist1=[5,6.7,"python"]
print(mylist1)

[5, 6.7, 'python']

In [5]:
mylist2=[3,6,7,["bharath","pavithra"],6.7,9]
print(mylist2)

[3, 6, 7, ['bharath', 'pavithra'], 6.7, 9]

In [6]:
print(mylist[2])
print(mylist1[0])
print(mylist2[3][1])

4
5
pavithra

In [7]:
print(mylist[-1])
print(mylist1[-1])
print(mylist2[-1])

6
python
9

In [8]:
mylist3=[["bharath","paviuthra"],[5,6],["dilip","hema"]]
print(mylist3)
print(mylist3[1][1])

[['bharath', 'paviuthra'], [5, 6], ['dilip', 'hema']]
6

In [11]:
mylist4=input("enter the data:")
conli=mylist4.split()
print(conli)
print(type(conli))

enter the data:python pavithra
['python', 'pavithra']
<class 'list'>

In [12]:
print(len(mylist))
print(len(mylist1))
print(len(mylist2))

6
3
6

In [13]:
mylist.append(45)
mylist1.append(78)
mylist2.append("sunday class")
print(mylist)
print(mylist1)
print(mylist2)

[1, 3, 4, 5, 6, 6, 45]
[5, 6.7, 'python', 78]
[3, 6, 7, ['bharath', 'pavithra'], 6.7, 9, 'sunday class']

In [14]:
mylist.insert(3,67)
print(mylist)

[1, 3, 4, 67, 5, 6, 6, 45]

In [15]:
mylist1.extend(["bharath","dilip"])
print(mylist1)

[5, 6.7, 'python', 78, 'bharath', 'dilip']

In [17]:
mylist7=mylist
mylist7.reverse()
print(mylist7)

[45, 6, 6, 5, 67, 4, 3, 1]

In [19]:
mylist.remove(6)
print(mylist)
mylist.pop()
print(mylist)

[45, 5, 67, 4, 3, 1]
[45, 5, 67, 4, 3]

In [20]:
print(mylist[1:])
print(mylist1[-3])
print(mylist[::-1])

[5, 67, 4, 3]
78
[3, 4, 67, 5, 45]

In [21]:
mylist8=mylist+mylist1
print(mylist8)

[45, 5, 67, 4, 3, 5, 6.7, 'python', 78, 'bharath', 'dilip']

In [23]:
mylist.clear()
print(mylist)
del mylist
print(mylist)

[]

NameError: name 'mylist' is not defined

In [2]:
#tuple
mytub=()
print(mytub)
mytub=(5,6,"python",5,8)
print(mytub)

()
(5, 6, 'python', 5, 8)

In [3]:
a,b,c,d,e=mytub
print(mytub)
print(b)

(5, 6, 'python', 5, 8)
6

In [4]:
print(mytub[2])
print(mytub[1])
print(mytub[-1])

python
6
8

In [7]:
print(mytub[1::])
print(mytub[1:3])

(6, 'python', 5, 8)
(6, 'python')

In [11]:
mytub1=[56,87,98,"bharath",["pavithra","dilip"],786]
print(mytub1)
mytub1[1]="change"
print(mytub1)

[56, 87, 98, 'bharath', ['pavithra', 'dilip'], 786]
[56, 'change', 98, 'bharath', ['pavithra', 'dilip'], 786]

In [14]:
mytub3= mytub1 + mytub1
print(mytub3)

[56, 'change', 98, 'bharath', ['pavithra', 'dilip'], 786, 56, 'change', 98, 'bharath', ['pavithra', 'dilip'], 786]

In [15]:
print(mytub*3)

(5, 6, 'python', 5, 8, 5, 6, 'python', 5, 8, 5, 6, 'python', 5, 8)

In [17]:
#set
myset={1,5,6,7,4,56,8,5}
print(myset)

{1, 4, 5, 6, 7, 8, 56}

In [7]:
myset1={6,7,"bharath","dilip",7,98,45}
print(myset1)

{'bharath', 98, 6, 7, 45, 'dilip'}

In [6]:
myset2=set([10,5,6,7,3])
print(myset2)
print(type(myset2))

{3, 5, 6, 7, 10}
<class 'set'>

In [8]:
print(myset)
myset.add(145)
print(myset)
myset1.update(["pavithra","sekar"])
print(myset1)

NameError: name 'myset' is not defined

In [11]:
myset6={6,7,8,90,12,45,6}
print(myset6)
myset6.discard(90)
print(myset6)
myset6.pop()
print(myset6)

{6, 7, 8, 90, 12, 45}
{6, 7, 8, 12, 45}
{7, 8, 12, 45}

In [12]:
print(myset1|myset6)

{98, 6, 7, 8, 12, 45, 'bharath', 'dilip'}

In [16]:
a={1,2,4,5,6,78}
b={1,3,4,5,6,78}
print(a&b)
print(a|b)
print(a-b)
print(a^b)

{1, 4, 5, 6, 78}
{1, 2, 3, 4, 5, 6, 78}
{2}
{2, 3}

In [17]:
#dictionary
mydic={1:"bharath",2:"dilip",3:"suresh"}
print(mydic)
print(type(mydic))

{1: 'bharath', 2: 'dilip', 3: 'suresh'}
<class 'dict'>

In [18]:
mydic1={"p":"python",2:[2,4,5,7]}
print(mydic1)

{'p': 'python', 2: [2, 4, 5, 7]}

In [19]:
mydic2=dict({1:"go",2:"for"})
print(mydic2)

{1: 'go', 2: 'for'}

In [20]:
mydic3=dict([(1,4),(2,6)])
print(mydic3)

{1: 4, 2: 6}

In [22]:
mydic4={1:"gecl",2:"disb",3:"helpline",4:{"a":"pdc","b":"project"}}
print(mydic4)

{1: 'gecl', 2: 'disb', 3: 'helpline', 4: {'a': 'pdc', 'b': 'project'}}

In [24]:
mydic[2]="monday"
print(mydic)
mydic4[4]={"a":"bharath"}
print(mydic4)

{1: 'bharath', 2: 'monday', 3: 'suresh'}
{1: 'gecl', 2: 'disb', 3: 'helpline', 4: {'a': 'bharath'}}

In [26]:
print(mydic[3])
print(mydic1.get(2))
print(mydic4[4])

suresh
[2, 4, 5, 7]
{'a': 'bharath'}

In [27]:
print(mydic4[4])
print(mydic[1])

{'a': 'bharath'}
bharath

In [28]:
mydic5=input()
print(mydic5)

4,6,7,8
4,6,7,8

In [29]:
mydic4.pop(4)
print(mydic4)

{1: 'gecl', 2: 'disb', 3: 'helpline'}

In [30]:
del mydic4[3]
print(mydic4)

{1: 'gecl', 2: 'disb'}

In [33]:
mydic6=mydic2|mydic1
print(mydic6)

{1: 'go', 2: [2, 4, 5, 7], 'p': 'python'}

In [1]:
#constructor

In [4]:
a=10
if(a>15):
    print("a is greater")
else:
    print("a is lesser")

a is lesser

In [5]:
x=40
if(x==40):
    if(x<50):
        print("x is equal")
    else:
        print("x is not equal")
else:
    print("this is not correct")

x is equal

In [6]:
x=20
if(x==10):
    print("it  is 10")
elif(x==20):
    print("it is 20")
elif(x==30):
    print("it is 30")

it is 20

In [7]:
x=10
print("true") if x<15 else print("false")

true

In [8]:
#for-for var in iterate
ab=["bharath","dilip","suresh"]
for x in ab:
    print(x)

bharath
dilip
suresh

In [9]:
s="BHARATH PAVITHRA"
for x in s:
    print(x)

B
H
A
R
A
T
H

P
A
V
I
T
H
R
A

In [10]:
for l in "FITA ACADAMY":
    if l=="A" or l=="M":
        continue
    print("letter is",l)

letter is F
letter is I
letter is T
letter is
letter is C
letter is D
letter is Y

In [11]:
for l in "FITA ACADAMY":
    if l=="A" or l=="M":
        break
    print("letter is",l)

letter is F
letter is I
letter is T

In [12]:
for l in "BHARATH":
    pass

In [13]:
for i in range(14):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13

In [14]:
for i in range(5,25):
    print(i,end=" ")

5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24

In [15]:
for i in range(9):
    print(i)
else:
    print("this is for else")

0
1
2
3
4
5
6
7
8
this is for else

In [3]:
#while
a=0
while(a<5):
    print("fita")
    a=a+1

fita
fita
fita
fita
fita

In [2]:
a=0
s="bharath is a cricket"
while a<len(s):
    if s[a]=="c" or s[a]=="s":
        a=a+1
        continue
    print("current letter is",s[a])
    a=a+1

current letter is b
current letter is h
current letter is a
current letter is r
current letter is a
current letter is t
current letter is h
current letter is
current letter is i
current letter is
current letter is a
current letter is
current letter is r
current letter is i
current letter is k
current letter is e
current letter is t

In [8]:
a=0
s="bharath is a cricket"
while a<len(s):
    if s[a]=="c" or s[a]=="s":
        a=a+1
        break
    print("current letter is",s[a])
    a=a+1

current letter is b
current letter is h
current letter is a
current letter is r
current letter is a
current letter is t
current letter is h
current letter is
current letter is i

In [9]:
n1=int(input("enter the lower:"))
n2=int(input("enter the upper:"))

for i in range(n1,n2+1):
    if(i%2==0):
        print(i)

enter the lower:16
enter the upper:56
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56

In [10]:
n1=int(input("enter the lower:"))
n2=int(input("enter the upper:"))

for i in range(n1,n2+1):
    if(i%2!=0):
        print(i)

enter the lower:0
enter the upper:10
1
3
5
7
9

In [11]:
#palindrome----amma
n=int(input("enter the n:"))
t=n
a=0
while(n>0):
    d=n%10
    a=a*10+d
    n=n//10
if(t==a):
    print("it is palindrome")
else:
    print("it is not palindrome")

enter the n:11211
it is palindrome

In [12]:
n=int(input("enter the n:"))
a=0
while(n>0):
    d=n%10
    a=a*10+d
    n=n//10
print(a)

enter the n:123456
654321

In [13]:
n=5
for i in range(1,11):
    print(n,"x",i,"=",n*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [22]:
n=int(input("enter"))
for i in range(n,0,-1):
    print((n-i)* ' '+i *'*')

enter5
*****
 ****
  ***
   **
    *

In [27]:
n=int(input("enter the n"))
for i in range(0,i+1):
    for j in range(0,i+1):
        print("*",end=" ")
    print( )

enter the n6
*
* *

In [32]:
n=10

for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10