In [1]:
#oops
class Bharath:
    def __init__(self,name,age,gender):   #instance variables
        self.name=name
        self.age=age
        self.gender=gender
    def show(self):
        print("name:",self.name,"age:",self.age,"gender:",self.gender)
    def sub(self):
        print(self.name,"age is",self.gender)
        
b=Bharath("dilip","25","male")
b.show()
b.sub()

name: dilip age: 25 gender: male
dilip age is male

In [2]:
class Student:
    college_name="loyola college"  #class variables
    def __init__(self,name,age):
        self.name=name
        self.age=age
        
s=Student("bharath","25")
print("student name:",s.name,"age:",s.age) #inst var
print("college name:",s.college_name) #class var

s.name="prakash"
s.age=20
s.college_name="srm"
print(s.name,s.age,s.college_name)

student name: bharath age: 25
college name: loyola college
prakash 20 srm

In [3]:
class Student:
    school_name="annai velankanni high school"
    
    def __init__(self,name,age):
        self.name=name
        self.age=age
        
    def show(self):
        print("student",self.name,self.age,self.school_name)
        
    def change_age(self,new_age):
        self.age=new_age
        
    @classmethod
    def change_school_name(cls,new_name):
        cls.school_name=new_name
        
stu=Student("pavithra",24)
stu.show()
stu.change_age(17)
stu.change_school_name("don bosco")
stu.show()

student pavithra 24 annai velankanni high school
student pavithra 17 don bosco

In [4]:
#constructors
class Drinks:
    def __init__(self,name):
        self.name=name
        print("this is constructor")
        
    def show(self):
        print("brand name is:",self.name)
        
dri=Drinks("morpheus")
dri.show()

this is constructor
brand name is: morpheus

In [5]:
class Fita:      #default constructor
    def fun(self):
        print("inside constructor")
f1=Fita()
f1.fun()

inside constructor

In [6]:
class Drinks:
    def __init__(self):     # non- parameterized constructor
        self.name="morphues"
        self.brand="brandy"
        
    def show(self):
        print("company name:",self.name,"brand name:",self.brand)
d1=Drinks()
d1.show()

company name: morphues brand name: brandy

In [7]:
class Fita:
    def __init__(self,course_name="python",batch="weekend"):
        self.course_name=course_name
        self.batch=batch
    def show(self):
        print("course name:",self.course_name,"batch:",self.batch)
        
    def __del__(self):
        print("object deleted")#distructor
        
f2=Fita()
f2.show()
del f2

course name: python batch: weekend
object deleted

In [8]:
#single,multiple,multi level,hirearchical,hybrid

#single
#multiple
#multilevel
#hierarchical
#hybrid

In [9]:
#single inheritance
class cricket: #parent class
    def batting(self):
        print("this is ipl match")
        
class kholi(cricket):
    def bat(self):
        print("best captain kholi in ipl")
ko=kholi()
ko.bat()
ko.batting()

best captain kholi in ipl
this is ipl match

In [10]:
#multiple inheritance
class Ipl:
    def batting(self,name,age):    #parent
        print("csk team captain")
        print("name:",name,"age:",age)
        
class Csk:
     def team(self,team_name,members):     #parent
        print("2023 ipl match")
        print("team:",team_name,"member count:",members)
        
class cricket(Ipl,Csk):
    def match(self,bat,bowl):                  #child
        
        print("rcb batting match")
        print("batter:",bat,"bowler:",bowl)
    
c=cricket()
c.match("no","yes")
c.team("chennai super kings","21")
c.batting("dhoni",42)

rcb batting match
batter: no bowler: yes
2023 ipl match
team: chennai super kings member count: 21
csk team captain
name: dhoni age: 42

In [11]:
#multilevel a-----b------c
class cricket:
    def batting(self,name,age):
        print("this is cricket batting")
        print("name:",name,"age:",age)
        
class ipl(cricket):
    def auction(self,team_name,price):
        print("auction for 2023")
        print("team:",team_name,"price:",price)
        
class teams(ipl):
    def playoff(self,bat,bowl):
        print("this is playoff")
        print("batter:",bat,"bowler:",bowl)
        
T=teams()
T.playoff("yes","no")
T.auction("rcb","100cr")
T.batting("kohli","33")

I=ipl()
I.auction("punjab","33cr")
I.batting("sam curren","15.5cr")

this is playoff
batter: yes bowler: no
auction for 2023
team: rcb price: 100cr
this is cricket batting
name: kohli age: 33
auction for 2023
team: punjab price: 33cr
this is cricket batting
name: sam curren age: 15.5cr

In [12]:
#hierchical
class cricket:
    def batting(self,name,age):
        print("this is cricket batting")
        print("name:",name,"age:",age)
        
class ipl(cricket):
    def auction(self,team_name,price):
        print("auction for 2023")
        print("team:",team_name,"price:",price)
        
class bbl(cricket):
    def aust(self,t_name,role):
        print("australian league")
        print("team name:",t_name,"role:",role)
        
class ps1(cricket):
    def pak(self,t_name,role):
        print("pakistan league")
        print("team name:",t_name,"role:",role)
        
        
india=ipl()
india.auction("csk",35)
india.batting("dhoni","45")

aus=bbl()
aus.aust("bharath","batting")
aus.batting("finch","35")

pak=ps1()
pak.pak("pakiiii","bowl")
pak.batting("baber azam",22)

auction for 2023
team: csk price: 35
this is cricket batting
name: dhoni age: 45
australian league
team name: bharath role: batting
this is cricket batting
name: finch age: 35
pakistan league
team name: pakiiii role: bowl
this is cricket batting
name: baber azam age: 22

In [13]:
#polymorphism-multiple form
a=[4,5,6,7,8,12.6]
print(len(a))
b="bharath dilip"
print(len(b))

6
13

In [14]:
class Bike:
    def color(self):
        print("bike color is black")
    def speed(self):
        print("bike speed is 150km")
        
class Car:
    def color(self):
        print("car color is white")
    def speed(self):
        print("car speed is 750km")
        
c=Car()
c.color()
c.speed()

b=Bike()
b.color()
b.speed()

car color is white
car speed is 750km
bike color is black
bike speed is 150km

In [15]:
#encapsulation - public & private & protected

class Student:
    def __init__(self,name,marks):
        self.name=name
        self.marks=marks
    def rep(self):
        print("name:",self.name,"marks:",self.marks)
        
stu=Student("lokesh",78)
stu.rep()
print("name:",stu.name,"marks:",stu.marks)
stu.rep()

name: lokesh marks: 78
name: lokesh marks: 78
name: lokesh marks: 78

In [2]:
class Employee:
    def __init__(self,name,salary):
        self.name=name
        self.__salary=salary #private data member
emp=Employee("bharatg",70000)
print("name is:",emp.name)
#print("salary is :",emp.salary)

name is: bharatg

In [4]:
class Employee:
    def __init__(self):
        self._salary="18000" #protected
class Company(Employee):
    def __init__(self,name):
        self.name=name
        Employee.__init__(self)
    def fun(self):
        print("emp name:",self.name)
        print("salary is:",self._salary)
        
c=Company("bharath")
c.fun()

print(c._salary)

emp name: bharath
salary is: 18000
18000