In [1]:
a=15
if(a>16):
    print("a is lesser")

In [3]:
a=10
if(a>15):
    print("a is greater")
else:
    print("a is lesser")

a is lesser

In [13]:
x=40
if(x==60):
    if(x<50):
        print("x is lesser")
    else:
        print("x is greater")
else:
    print("this is not correct")

this is not correct

In [14]:
x=20
if(x==10):
    print("it is 10")
elif(x==20):
    print("it is 20")
elif(x==30):
    print("it is 30")

it is 20

In [20]:
x=10
print("true") if x>15 else print("false")

false

In [21]:
#for
dilip=["suresh","bharath","pavithra"]
for x in dilip:
    print(x)

suresh
bharath
pavithra

In [26]:
s="bharath pavithra"
for x in s:
    print(x)

b
h
a
r
a
t
h

p
a
v
i
t
h
r
a

In [43]:
for b in "BHARATH KUMAR":
    if b=="A" or b=="K": 
        continue
    print("Letter is",b)

Letter is B
Letter is H
Letter is R
Letter is T
Letter is H
Letter is
Letter is U
Letter is M
Letter is R

In [47]:
for b in "CHOLAMANDALAM FINANCE":
    if b=="A" or b=="N":
        break
    print("letter is",b)

letter is C
letter is H
letter is O
letter is L

In [48]:
for l in "CHOLAMANDALAM":
    pass

In [52]:
for i in range(55):
    print(i,end =" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54

In [55]:
for i in range(55,60):
    print(i,end=" ")

55 56 57 58 59

In [57]:
for i in range(50):
    print(i,end=" ")
else:
    print("this is for else")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 this is for else

In [62]:
#while
a=2
while(a<10):
    print("bharath")
    a=a+1

bharath
bharath
bharath
bharath
bharath
bharath
bharath
bharath

In [69]:
a=2
s="bharath kumar"
while a<len(s):
    if s[a]=="a" or s[a]=="h":
        a=a+1
        continue
    print("current letter",s[a])
    a=a+1

current letter r
current letter t
current letter
current letter k
current letter u
current letter m
current letter r

In [67]:
a=0
s="bharath kumar"
while a<len(s):
    if s[a]=="a" or s[a]=="h":
        a+=1
        break
    print("current letter",s[a])
    a+=1

current letter b

In [70]:
#even numbers using for
n1=int(input("enter the lower"))
n2=int(input("enter the upper"))
for i in range(n1,n2+1):
    if(i%2==0):
        print(i)

enter the lower100
enter the upper200
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200

In [71]:
#even numbers using for
n1=int(input("enter the lower"))
n2=int(input("enter the upper"))
for i in range(n1,n2+1):
    if(i%2!=0):
        print(i)

enter the lower0
enter the upper30
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [72]:
n=int(input("enter the n:"))
t=n
a=0
while(n>0):
    d=n%10
    a=a*10+d
    n=n//10
if(t==a):
    print("it is palindrome")
else:
    print("it is not palindrome")

enter the n:11211
it is palindrome

In [73]:
n=int(input("enter the n:"))
a=0
while(n>0):
    d=n%10
    a=a*10+d
    n=n//10
print("reverse n is:",a)

enter the n:1234567
reverse n is: 7654321

In [77]:
n = 4
for i in range(1,21):
    print(n,"X",i,"=",n*i)

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
4 X 11 = 44
4 X 12 = 48
4 X 13 = 52
4 X 14 = 56
4 X 15 = 60
4 X 16 = 64
4 X 17 = 68
4 X 18 = 72
4 X 19 = 76
4 X 20 = 80

In [81]:
n=int(input("enter the n:"))
for i in range(n,0,-1):
    print((n-1)*' '+i*'*')

enter the n:7
      *******
      ******
      *****
      ****
      ***
      **
      *

In [1]:
n=9
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8 9