In [1]:
#tuple
mytub=()
print(mytub)

()

In [1]:
as

SyntaxError: invalid syntax (1239779345.py, line 1)

In [10]:
mytub=(1,2,3,4,5)
mytub1=(34,"dilip",2.7)
mytub2=(3,65,[2,4,5],"bharath")
print(mytub)
print(mytub1)
print(mytub2)

(1, 2, 3, 4, 5)
(34, 'dilip', 2.7)
(3, 65, [2, 4, 5], 'bharath')

In [11]:
a,b,c,d,e=mytub
print(mytub)
print(b)

(1, 2, 3, 4, 5)
2

In [5]:
mysing=("bharath",)
print(mysing)

('bharath',)

In [6]:
print(mytub[2])
print(mytub1[2])
print(mytub2[2][2])

3
2.7
5

In [7]:
mytub2[2][1]="bharat"
print(mytub2)

(3, 65, [2, 'bharat', 5], 'bharath')

In [13]:
myset={1,3,4,5,6}
print(myset)
print(type(myset))

{1, 3, 4, 5, 6}
<class 'set'>

In [14]:
myset1={3,"bharath",3.5,"dilip",3,5}
print(myset1)

{'bharath', 3.5, 3, 5, 'dilip'}

In [20]:
myset2=set([3,5,"python"])
print(type(myset2))
print(myset2)

<class 'set'>
{'python', 3, 5}

In [22]:
myset3={3,4,5}
print(myset3)

{3, 4, 5}

In [27]:
print(myset1)
myset1.add("dilip")
print(myset1)
myset1.update(["hello","potta"])

{'bharath', 3.5, 3, 5, 'dilip', 'potta', 'hello'}
{'bharath', 3.5, 3, 5, 'dilip', 'potta', 'hello'}

In [29]:
myset1.discard(3.5)
print(myset1)

{'bharath', 3, 5, 'dilip', 'potta', 'hello'}

In [30]:
myset1.pop()
print(myset1)

{3, 5, 'dilip', 'potta', 'hello'}

In [31]:
print(myset1|myset2)

{3, 'python', 5, 'dilip', 'potta', 'hello'}