In [3]:
class Bharath:
    def __init__(self,name,age,gender):
        self.name=name
        self.age=age
        self.gender=gender
    def show(self):
        print("name:",self.name,"age:",self.age,"gender:",self.gender)
    def sub(self):
        print(self.name,"is age",self.age)
B=Bharath("pavithra","25","female")
B.show()
B.sub()

name: pavithra age: 25 gender: female
pavithra is age 25

In [10]:
class student:
    college_name="loyola college"
    
    def __init__(self,name,age):
        self.name=name
        self.age=age
S=student("bharath",25)
print("name:",S.name,"age:",S.age)
print("college:",S.college_name)

S.name="prakash"
S.age="24"
S.college_name="srm"
print(S.name,S.age,S.college_name)

name: bharath age: 25
college: loyola college
prakash 24 srm

In [21]:
class student:
    school_name="annai velankanni"
    def __init__(self,name,gender):
        self.name=name
        self.gender=gender
        
    def show(self):
        print("student name:",self.name,"gender:",self.gender)
        print(self.school_name)
        
    def change_gender(self,new_age):
        self.gender=new_age
        
        
S=student("dilip","male")
S.show()
S.change_gender("female")
S.show()

student name: dilip gender: male
annai velankanni
student name: dilip gender: female
annai velankanni

In [20]:
class Drinks:
    def __init__(self,name):
        self.name=name
        print("this is constructor")#method of constructor
        
    def show(self):
        print("brand name:",self.name)
        
D=Drinks('1848 brandy')
D.show()

this is constructor
brand name: 1848 brandy

In [25]:
class prasnna:
    
    def fun(self):
        print("prasnna was a cricket star in 2011")
P=prasnna()
P.fun()

prasnna was a cricket star in 2011

In [27]:
class Prasanna:
    def __init__(self):
        self.name="dilip"
        self.age="25"
        self.occupation="worst fielder and fast bowler"
    def show(self):
        print("batmans details:",self.name,self.age,self.occupation)
        
P=Prasanna()
P.show()

batmans details: dilip 25 worst fielder and fast bowler

In [37]:
class dilip:
    def __init__(self,name="dilip",age="25",gender="female"):
        self.name=name
        self.age=age
        self.gender=gender
    def show(self):
        print("details:",self.name,self.age,self.gender)
    def __del__(self):
        print("dilip details deleted")
D=dilip()
D.show()
del D

details: dilip 25 female
dilip details deleted

In [40]:
class cricket:
    def batting(self):
        print("prsanna is a opening batsman and run out batsman")
        
class kholi(cricket):
    def bat(self):
        print("prasanna chola singam asv don")
C=kholi()
C.bat()
C.batting()

prasanna chola singam asv don
prsanna is a opening batsman and run out batsman