In [1]:
a,b,c= 5,4,6
print(a,b,c)

5 4 6

In [2]:
a=input()
print(a)

50
50

In [3]:
a,b,c= 5,4,6
d=a+b+c
e=a-b
g=a/b
f=a*c
print(d,e,g,f)

15 1 1.25 30

In [5]:
print(a==d)
print(c>f)

False
False

In [6]:
#strings
str1="python class"
str2="stuent is dilip"
print(str1)
print(str2)

python class
stuent is dilip

In [7]:
print(str1[4])
print(str2[-5])

o
d

In [8]:
print(str1[::-1])

ssalc nohtyp

In [9]:
print(str1[1:8])
print(str2[5:-1])

ython c
t is dili

In [10]:
str1="python class at weekend"
print(str1)

python class at weekend

In [12]:
str3=str1[3:7]+str1[10:]
print(str3)
del str3

hon ss at weekend

In [16]:
print("\n this is strong class" "/t",str1)

 this is strong class/t python class at weekend

In [18]:
str4="{1} {0} {2}".format("python","class","sunday")
print(str4)

class python sunday

In [20]:
print(str1.upper())
print(str1.isspace())

PYTHON CLASS AT WEEKEND
False

In [24]:
str5="bharathisagreat"
print(str5)
print(str5.isspace())

bharathisagreat
False

In [26]:
str5="class"
print(str5.find("a",0,10))
print(str5.rfind("s",0,10))

2
4

In [28]:
print(len(str1))
print(str1.count("class",0,25))

23
1

In [29]:
print(str1.ljust(20,"-"))

python class at weekend

In [30]:
str7="**"
print(str7.join(str1))

p**y**t**h**o**n** **c**l**a**s**s** **a**t** **w**e**e**k**e**n**d

In [33]:
str8="***python class***"
print(str8.strip("*"))
print(str8.rstrip("*"))
print(min(str8))

python class
***python class

In [34]:
def fun(s1,s2):
    if(sorted(s1)==sorted(s2)):
        print("anagram")
    else:
        print("it is not anagram")
s1="tab"
s2="bat"
fun(s1,s2)

anagram

In [38]:
#LIST
mylist=[1,2,3,4,5,6]
print(mylist)
mylist1=[]
print(mylist1)
print(type(mylist))
print(type(mylist1))

[1, 2, 3, 4, 5, 6]
[]
<class 'list'>
<class 'list'>

In [39]:
mylist2=[4,13.6,"python"]
print(mylist2)

[4, 13.6, 'python']

In [40]:
mylist3=[5,8,["bharath","dilip"],12.5,89]
print(mylist3)

[5, 8, ['bharath', 'dilip'], 12.5, 89]

In [45]:
print(mylist[3])
print(mylist2[1])
print(mylist3[2][1])
print(mylist[-1])
print(mylist2[-2])
print(mylist3[-3])

4
13.6
dilip
6
13.6
['bharath', 'dilip']

In [47]:
mylist4=[["bharath","dilip"],[3,6],["chennai","kochin"]]
print(mylist4)
print(mylist4[1])
print(mylist4[0][1])

[['bharath', 'dilip'], [3, 6], ['chennai', 'kochin']]
[3, 6]
dilip

In [48]:
mylist5=input()
conli=mylist5.split()
print(conli)
print(type(conli))

["bharath","python"]
['["bharath","python"]']
<class 'list'>

In [50]:
print(len(mylist))
print(len(mylist2))
print(len(mylist3))
print(len(mylist4))

6
3
5
3

In [53]:
mylist.append(50)
mylist2.append(5.6)
mylist3.append("sundayclass")
print(mylist)
print(mylist2)
print(mylist3)

[1, 2, 3, 4, 5, 6, 50, 50, 50]
[4, 13.6, 'python', 5.6, 5.6]
[5, 8, ['bharath', 'dilip'], 12.5, 89, 'sundayclass', 'sundayclass']

In [55]:
mylist.insert(4,555)
print(mylist)

[1, 2, 3, 4, 555, 555, 5, 6, 50, 50, 50]

In [56]:
mylist2.extend(['suresh','vasanth','nithya'])
print(mylist2)

[4, 13.6, 'python', 5.6, 5.6, 'suresh', 'vasanth', 'nithya']

In [57]:
mylist6=mylist
mylist6.reverse()
print(mylist6)

[50, 50, 50, 6, 5, 555, 555, 4, 3, 2, 1]

In [58]:
mylist.remove(555)
print(mylist)

[50, 50, 50, 6, 5, 555, 4, 3, 2, 1]

In [59]:
mylist.pop()
print(mylist)

[50, 50, 50, 6, 5, 555, 4, 3, 2]

In [61]:
print(mylist[1:])
print(mylist2[:1])
print(mylist[-3:])

[50, 50, 6, 5, 555, 4, 3, 2]
[4]
[4, 3, 2]

In [62]:
mylist1=mylist+mylist3
print(mylist1)

[50, 50, 50, 6, 5, 555, 4, 3, 2, 5, 8, ['bharath', 'dilip'], 12.5, 89, 'sundayclass', 'sundayclass']

In [73]:
print("python" in mylist2)

True

In [75]:
#tuple
mytup=()
print(mytup)
mytup=(1,2,3,4,5)
mytup1=(3,65,"tuple class",4.6)
mytup2=(5,65,[4,6,7],"python")
print(mytup)
print(mytup1)
print(mytup2)

()
(1, 2, 3, 4, 5)
(3, 65, 'tuple class', 4.6)
(5, 65, [4, 6, 7], 'python')

In [77]:
tup1=2,4,5,6
a,b,c,d=tup1
print(tup1)
print(b)
print(type(mytup1))

(2, 4, 5, 6)
4
<class 'tuple'>

In [78]:
print(mytup[2])
print(mytup1[-2])
print(mytup2[2][2])

3
tuple class
7

In [79]:
print(mytup[1:])
print(mytup1[0:1])
print(mytup2[-2:])

(2, 3, 4, 5)
(3,)
([4, 6, 7], 'python')

In [80]:
mytup2[2][0]="bharath"
print(mytup2)

(5, 65, ['bharath', 6, 7], 'python')

In [81]:
mytup18=(3,5,6,78)
print(mytup18)
del mytup18

(3, 5, 6, 78)

In [82]:
mytup3=mytup+mytup2
print(mytup3)

(1, 2, 3, 4, 5, 5, 65, ['bharath', 6, 7], 'python')

In [83]:
print(mytup*4)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [84]:
#set
myset={10,4,1,2,3,4}
print(myset)

{1, 2, 3, 4, 10}

In [85]:
myset1={1,2,"dinesh",5,"bharath"}
print(myset1)

{1, 2, 5, 'dinesh', 'bharath'}

In [86]:
myset2=set([4,5,6,7,8,"example",2,1.8])
print(myset2)
print(type(myset2))

{1.8, 2, 4, 5, 6, 7, 8, 'example'}
<class 'set'>

In [88]:
print(myset)
myset.add(13)
print(myset)
myset.update(["hello",5,7])
print(myset)

{1, 2, 3, 4, 10}
{1, 2, 3, 4, 10, 13}
{1, 2, 3, 4, 5, 7, 10, 13, 'hello'}

In [90]:
myset.discard(10)
print(myset)
myset.remove(5)
print(myset)

{1, 2, 3, 4, 5, 7, 13, 'hello'}
{1, 2, 3, 4, 7, 13, 'hello'}

In [91]:
myset.pop()
print(myset)

{2, 3, 4, 7, 13, 'hello'}

In [1]:
#dictionary
mydic={1:"bharath",2:"dilip",3:"suresh"}
print(mydic)
print(type(mydic))

{1: 'bharath', 2: 'dilip', 3: 'suresh'}
<class 'dict'>

In [2]:
mydic1={"gecl":"suresh",1:[3,4,5,6]}
print(mydic1)

{'gecl': 'suresh', 1: [3, 4, 5, 6]}

In [3]:
mydic2=dict({1:"go",2:"for"})
print(mydic2)

{1: 'go', 2: 'for'}

In [4]:
mydic3=dict([(1,4),(2,8)])
print(mydic3)

{1: 4, 2: 8}

In [5]:
mydic4={1:"this",2:"is",3:"python",4:"class",5:{"a":"welcome","b":"class"}}
print(mydic4)

{1: 'this', 2: 'is', 3: 'python', 4: 'class', 5: {'a': 'welcome', 'b': 'class'}}

In [7]:
mydic[2]="prasanna"
print(mydic)
mydic4[5]={"a":"all welcome"}
print(mydic4)

{1: 'bharath', 2: 'prasanna', 3: 'suresh'}
{1: 'this', 2: 'is', 3: 'python', 4: 'class', 5: {'a': 'all welcome'}}

In [12]:
print(mydic[3])
print(mydic1["gecl"])
print(mydic4.get(5))

suresh
suresh
{'a': 'all welcome'}

In [23]:
mydic6=input()
print(mydic6)

1,3,4,5
1,3,4,5

In [24]:
mydic4.pop(3)
print(mydic4)

KeyError: 3

In [25]:
del mydic4[1]
print(mydic4)

{2: 'is', 4: 'class'}

In [27]:
mydic7=mydic|mydic1
print(mydic7)

{1: [3, 4, 5, 6], 2: 'prasanna', 3: 'suresh', 'gecl': 'suresh'}

In [31]:
a=10
if(a>5):
    print("a is greater")
else:
    print("a is lesser")

a is greater

In [35]:
x=40
if(x==40):
    if(x<50):
        print("x is equal")
    else:
        print("x is not equal")
else:
    print("this is not correct")

x is equal

In [38]:
x=10
if(x==10):
    print("it is 10")
elif(x==20):
    print("it is 20")
elif(x==30):
    print("it is 30")

it is 10

In [42]:
x=10
print("true") if x<15 else print("false")

true

In [43]:
#for-for var in iterate
ab=["bharath","dilip","suresh"]
for x in ab:
    print(x)

bharath
dilip
suresh

In [45]:
ab=["bharath","dilip","suresh"]
for x in ab:
    print(x)

bharath
dilip
suresh

In [46]:
s="BHARATH WEDS PAVITHRA"
for x in s:
    print(x)

B
H
A
R
A
T
H

W
E
D
S

P
A
V
I
T
H
R
A

In [48]:
for l in "PAVITHRA BHARATH":
    if l=="A" or l=="H":
        continue
    print("letter is",l)

letter is P
letter is V
letter is I
letter is T
letter is R
letter is
letter is B
letter is R
letter is T

In [49]:
for l in "PAVITHRA BHARATH":
    if l=="A" or l=="H":
        break
    print("letter is",l)

letter is P

In [50]:
for l in "BHARATH":
    pass

In [52]:
for i in range(15):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14

In [53]:
for i in range(5,15):
    print(i,end=" ")

5 6 7 8 9 10 11 12 13 14

In [1]:
a=0
while(a<9):
    print("fita")
    a=a+1

fita
fita
fita
fita
fita
fita
fita
fita
fita

In [5]:
a=0
s="dilip is a cricketer and a fast bowler"
while a<len(s):
    if s[a]=="c" or s[a]=="s":
        a=a+1
        continue
    print("current letter is",s[a])
    a=a+1

current letter is d
current letter is i
current letter is l
current letter is i
current letter is p
current letter is
current letter is i
current letter is
current letter is a
current letter is
current letter is r
current letter is i
current letter is k
current letter is e
current letter is t
current letter is e
current letter is r
current letter is
current letter is a
current letter is n
current letter is d
current letter is
current letter is a
current letter is
current letter is f
current letter is a
current letter is t
current letter is
current letter is b
current letter is o
current letter is w
current letter is l
current letter is e
current letter is r

In [11]:
n1=int(input("enter the lower:"))
n2=int(input("enter the upper:"))

for i in range(n1,n2+1):
    if(i%2==0):
        print(i)

enter the lower:1
enter the upper:8
2
4
6
8

In [12]:
n1=int(input())
n2=int(input())

for i in range(n1,n2+1):
    if(i%2!=0):
        print(i)

1
8
1
3
5
7

In [ ]:
|