In [1]:
#tuple
mytup=()
print(type(mytup))
mytup=(1,4,5,6,7,8,8)
mytup1=(45,"bharath","pavithra",9.10)
mytup2=(3,6,[4,6,7],"pavithra")
print(mytup)
print(mytup1)
print(mytup2)

<class 'tuple'>
(1, 4, 5, 6, 7, 8, 8)
(45, 'bharath', 'pavithra', 9.1)
(3, 6, [4, 6, 7], 'pavithra')

In [6]:
print(mytup[2])
print(mytup1[-3])
print(mytup2[2][2])

5
bharath
7

In [11]:
print(mytup[1:])
print(mytup[-4:])
print(mytup2[-2])

(4, 5, 6, 7, 8, 8)
(6, 7, 8, 8)
[4, 6, 7]

In [12]:
mytup2[2][0]="dilip"
print(mytup2)

(3, 6, ['dilip', 6, 7], 'pavithra')

In [13]:
my_tup5=(1,4,5,6,7)
print(my_tup5)

(1, 4, 5, 6, 7)

In [14]:
del my_tup5

In [16]:
mytup4=mytup+mytup1
print(mytup4)

(1, 4, 5, 6, 7, 8, 8, 45, 'bharath', 'pavithra', 9.1)

In [18]:
print(mytup*3)

(1, 4, 5, 6, 7, 8, 8, 1, 4, 5, 6, 7, 8, 8, 1, 4, 5, 6, 7, 8, 8)

In [19]:
#set
myset={1,"bharath",12.5,"dilip",53,"pavi"}
print(myset)

{1, 53, 'pavi', 'dilip', 12.5, 'bharath'}

In [21]:
myset1={1,4,5,6,76,76}
print(myset1)

{1, 4, 5, 6, 76}

In [24]:
myset2=set([])
print(type(myset2))

<class 'set'>

In [25]:
myset2=set([2,5,6,7,8])
print(myset2)

{2, 5, 6, 7, 8}

In [29]:
print(myset)
myset.add(16)
print(myset)

{1, 53, 'pavi', 'dilip', 12.5, 'bharath', 15}
{16, 1, 53, 'pavi', 'dilip', 12.5, 'bharath', 15}

In [30]:
myset.update(["krishna","suresh",13.5])
print(myset)

{1, 'suresh', 12.5, 13.5, 15, 16, 'pavi', 'dilip', 53, 'krishna', 'bharath'}

In [31]:
myset.discard(53)
print(myset)

{1, 'suresh', 12.5, 13.5, 15, 16, 'pavi', 'dilip', 'krishna', 'bharath'}

In [32]:
myset.remove(12.5)
print(myset)

{1, 'suresh', 13.5, 15, 16, 'pavi', 'dilip', 'krishna', 'bharath'}

In [33]:
myset.pop()
print(myset)

{'suresh', 13.5, 15, 16, 'pavi', 'dilip', 'krishna', 'bharath'}

In [34]:
myset1.clear()
print(myset1)

set()

In [35]:
print(myset|myset2)

{2, 'suresh', 'bharath', 5, 6, 7, 8, 13.5, 15, 16, 'pavi', 'krishna', 'dilip'}

In [38]:
a={3,4,5,6,7}
b={23,45,67,89,98,5}
print(a|b)

{98, 3, 4, 5, 6, 7, 67, 45, 23, 89}

In [39]:
print(a&b)

{5}

In [40]:
print(a-b)

{3, 4, 6, 7}

In [41]:
print(a^b)

{67, 3, 4, 6, 7, 23, 89, 98, 45}

In [2]:
for i in range(9):
    print(i)
else:
    print("this is for else")

0
1
2
3
4
5
6
7
8
this is for else

In [5]:
a=0
while(a<5):
    print("fita")
    a=a+3

fita
fita

In [ ]:
a=0
s="pavithra love bharath"
while a<len(s):
    if s[a]=="i" or s[a]=="t":
        a+=1
        continue
    print("current letter:",s[a])
    a+=1