In [35]:
#oops
class Professor:
    def __init__(self,name,gender,subject):
        self.name=name
        self.gender=gender
        self.subject=subject
    
    def display(self):
        print("name:",self.name,"gender:",self.gender,"subject:",self.subject)
    
    def sub(self):
        print(self.name,"study in",self.subject)
    
prof=Professor("dilip","male","python")
prof.display()
prof.sub()

name: dilip gender: male subject: python
dilip study in python

In [18]:
class Student:
    col_name="loyola college"
    def __init__(self,name,age):
        self.name=name
        self.age=age
stu1=Student("lokesh",25)
print("student:",stu1.name,stu1.age)
print("college name:",Student.col_name)

stu1.name="bharath"
stu1.age=25
stu1.col_name="vainav"
print(stu1.name,stu1.age,stu1.col_name)

student: lokesh 25
college name: loyola college
bharath 25 vainav

In [38]:
class Student:
    school_name="annai velankanni"
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def show(self):
        print("student:",self.name,"age:",self.age,"scl name:",self.school_name)
    def change_age(self,new_age):
        self.age=new_age
    @classmethod
    def change_school_name(cls,new_name):
        cls.school_name=new_name
        
stu=Student("priya",14)
stu.show()
stu.change_age(17)
Student.change_school_name("don bosco")
stu.show()

student: priya age: 14 scl name: annai velankanni
student: priya age: 17 scl name: don bosco

In [39]:
#constractors
class Fita:
    def __init__(bharath,name):
        print("this is constractor")
        bharath.name=name
    def show(bharath):
        print("my name is:",bharath.name)
        
s1=Fita("suresh")
s1.show()

this is constractor
my name is: suresh

In [42]:
class Fita:
    def fun(self):
        print("inside constructor")
f1=Fita( )
f1.fun()

inside constructor

In [45]:
class Fita:
    def __init__(self):
        self.name="bharath"
        self.day="monday"
    def show(self):
        print("name:",self.name,"day:",self.day) 
F2=Fita()
F2.show()

name: bharath day: monday

In [48]:
class Fita:
    def __init__(self,cour_name="python",day="monday"):
        self.cour_name=cour_name
        self.day=day
    def show(self):
        print("course name:",self.cour_name,"day:",self.day)
    def __del__(self):
        print("object deleted")
F2=Fita()
F2.show()

object deleted
course name: python day: monday