In [1]:
#regular expression(RE)
import re
room="this is dilip and dilip phone number is 9945678768"
R=re.findall(r"\D",room)
print(R)

['t', 'h', 'i', 's', ' ', 'i', 's', ' ', 'd', 'i', 'l', 'i', 'p', ' ', 'a', 'n', 'd', ' ', 'd', 'i', 'l', 'i', 'p', ' ', 'p', 'h', 'o', 'n', 'e', ' ', 'n', 'u', 'm', 'b', 'e', 'r', ' ', 'i', 's', ' ']

In [2]:
import re
room="this is dilip and dilip phone number is 9945678768"
R=re.findall(r"\d",room)
print(R)

['9', '9', '4', '5', '6', '7', '8', '7', '6', '8']

In [15]:
import re
fita="Dilip is a Miser and his Number is 7200231723"
com=r"\W"
pattern=re.compile(com)
res=pattern.match(fita)
print(res)
res=re.search(r"\d",fita)
print(res)
res=re.findall(r"\d",fita)
print(res)
res=re.split(r"\s",fita)
print(res)
res=re.sub(r"\s","*",fita)
print(res)

None
<re.Match object; span=(35, 36), match='7'>
['7', '2', '0', '0', '2', '3', '1', '7', '2', '3']
['Dilip', 'is', 'a', 'Miser', 'and', 'his', 'Number', 'is', '7200231723']
Dilip*is*a*Miser*and*his*Number*is*7200231723

In [1]:
import re
str1="suresh is a chola owner \n also he is a TL"
print(str1)
ans=re.search(r".+",str1,re.S)
print(ans.group())

suresh is a chola owner
 also he is a TL
suresh is a chola owner
 also he is a TL

In [21]:
import re
s1="Bharath learn python course and duration is 120 days"
ans=re.findall(r"\A[A-Z].*?\s",s1)
print(ans)
ans=re.findall(r"\d.*?\Z",s1)
print(ans)

['Bharath ']
['120 days']

In [22]:
import re
rate="10000 dollers"
res=re.findall(r"\d",rate)
print(res)
res=re.findall(r"\d+",rate)
print(res)
res=re.findall(r"\D",rate)
print(res)

['1', '0', '0', '0', '0']
['10000']
[' ', 'd', 'o', 'l', 'l', 'e', 'r', 's']

In [25]:
import re
string="bharath! this is ***saturday***"
ans=re.findall(r"\W",string)
print(ans)
ans=re.findall(r"\w{5}",string)
print(ans)
ans=re.findall(r"\w",string)
print(ans)

['!', ' ', ' ', ' ', '*', '*', '*', '*', '*', '*']
['bhara', 'satur']
['b', 'h', 'a', 'r', 'a', 't', 'h', 't', 'h', 'i', 's', 'i', 's', 's', 'a', 't', 'u', 'r', 'd', 'a', 'y']

In [28]:
import re
string="dinesh \t \n kumar"
print(string)
ans=re.findall(r"\s",string)
print(ans)
ans=re.findall(r"\S",string)
print(ans)
ans=re.findall(r"\s+",string)
print(ans)
ans=re.sub(r"\s+"," ","dinesh and \t kumar")
print(ans)

dinesh
 kumar
[' ', '\t', ' ', '\n', ' ']
['d', 'i', 'n', 'e', 's', 'h', 'k', 'u', 'm', 'a', 'r']
[' \t \n ']
dinesh and kumar