In [2]:
#oops
class bharath:
    def __init__(self,name,age,gender):
        self.name=name
        self.age=age
        self.gender=gender
    def show(self):
        print("name:",self.name,"age:",self.age,"gender:",self.gender)
    def sub(self):
        print(self.name,"is age",self.age)
B=bharath("dilip kumar",25,"male")
B.show()
B.sub()

name: dilip kumar age: 25 gender: male
dilip kumar is age 25

In [4]:
class Student:
    col_name="loyola college"
    def __init__(self,name,age):
        self.name=name
        self.age=age
S=Student("bharath",26)
print("student name:",S.name,"age:",S.age)
print("college name:",S.col_name)

S.name="prakash"
S.age=56
S.col_name="srm"
print(S.name,S.age,S.col_name)

student name: bharath age: 26
college name: loyola college
prakash 56 srm

In [7]:
class Student:
    school_name="don bosco hr sec school"
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def show(self):
        print("student",self.name,self.age,self.school_name)
    def change_age(self,new_age):
        self.age=new_age
    @classmethod
    def change_school_name(cls,new_name):
        cls.school_name=new_name
S=Student("pavithra",27)
S.show()
S.change_age(25)
S.change_school_name("annai velankanni")
S.show()

student pavithra 27 don bosco hr sec school
student pavithra 25 annai velankanni

In [8]:
class Drinks:
    def __init__(self,name):
        self.name=name
        print("this is constructor")
    def show(self):
        print("brand name is:",self.name)
dri=Drinks("morpheus")
dri.show()

this is constructor
brand name is: morpheus

In [1]:
class Fita:
    def fun(self):
        print("inside constructor")
F1=Fita()
F1.fun()

inside constructor

In [2]:
class drinks:
    def __init__(self):
        self.name="brandy"
        self.brand="1848"
    def show(self):
        print("drinks name:",self.name,"brand name:",self.brand)
D=drinks()
D.show()

drinks name: brandy brand name: 1848

In [9]:
class Fita:
    def __init__(self,class_name="python",batch="sunday"):
        self.class_name=class_name
        self.batch=batch
    def show(self):
        print("course_name:",self.class_name,"batch:",self.batch)
        
        
    def __del__(self):
        print("object deleted")
F=Fita()
F.show()
del F

course_name: python batch: sunday
object deleted

In [10]:
class cricket:
    def batting(self):
        print("this is ipl match")
class kholi(cricket):
    def bat(self):
        print("ipl rcb best captain kholi")
ko=kholi()
ko.bat()
ko.batting()

ipl rcb best captain kholi
this is ipl match

In [11]:
class Ipl:
    def batting(self,name,age):
        print("csk team captain")
        print("name:",name,"age:",age)
class csk:
    def team(self,team_name,members):
        print("2023 ipl match top team")
        print("team name:",team_name,"team members:",members)
class cricket(Ipl,csk):
    def match(self,bat,bowl):
        print("rcb vs csk match")
        print("bat:",bat,"bowl:",bowl)
C=cricket()
C.match("yes","no")
C.team("chennai super kings",22)
C.batting("dhoni",45)

rcb vs csk match
bat: yes bowl: no
2023 ipl match top team
team name: chennai super kings team members: 22
csk team captain
name: dhoni age: 45